@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.829);
}

.title {
    color: #000000;
    background-color: rgba(169, 169, 169, 0.568);
    align-self: center;
    padding: 0.5em;
    border-radius: 20px;
    width: fit-content;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 2vw;
}

.section-title {
    color: #000000;
    background-color: rgba(169, 169, 169, 0.568);
    align-self: center;
    padding: 0.5em;
    border-radius: 8px;
    width: fit-content;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.5vw;
}

.error-message {
    display: none;
    color: #380808;
    font-size: 1.2vw;
    margin-top: 1em;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.leg-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.568);
    width: fit-content;
    align-self: center;
    width: 90vw;
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.number-input {
    text-align: center;
    width: 10vw;
    padding: 0.2em;
    font-size: 2.5vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    height: 2.5vw;
    padding-left: 1.2vw
}
.number-input::placeholder {
    font-size: 1.2vw;
    text-align: center;
}
.input-label{
    font-size: 2vw;
}
#leg-input-grid {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    column-gap: 5em;
    row-gap: 0.2em;
}
#three-leg-input-label {
    grid-column: 1;
    grid-row: 1;
}
#three-leg-input-box {
    grid-column: 1;
    grid-row: 2;
}
#four-leg-input-label {
    grid-column: 2;
    grid-row: 1;
}
#four-leg-input-box {
    grid-column: 2;
    grid-row: 2;
}

.dimension-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.568);
    width: fit-content;
    align-self: center;
    border-radius: 20px;
    margin-top: 1em;
    width: 90vw;
    padding-top: 1em;
    padding-bottom: 2em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.dimension-input label {
    font-size: 2vw;
}
#dimension-input-grid {
    display: grid;
    grid-template-columns: repeat(5);
    grid-template-rows: repeat(2);
    row-gap: 0.2em;
}
#dimension-label-1 {
    grid-column: 1;
    grid-row: 1;
}
#dimension-input-box-1 {
    grid-column: 1;
    grid-row: 2;
}
#dimension-label-2 {
    grid-column: 4;
    grid-row: 1;
}
#dimension-input-box-2 {
    grid-column: 4;
    grid-row: 2;
}
.feet-label {
    margin-left: 0.2em;
    align-self: end;
}
#feet-label-1 {
    grid-column: 2;
    grid-row: 2;
}
#feet-label-2 {
    grid-column: 5;
    grid-row: 2;
}
#dimension-separator{
    grid-column: 3;
    grid-row: 2;
    font-size: 3vw;
    margin-left: 1em;
    margin-right: 1em;
}
#calculate-button {
    background-color: #6acc6f85;
    border-radius: 60px;
    width: fit-content;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.8vw;
    margin-top: 1em;
    padding: 0.5em;
}

.stage-output {
    display: flex;
    flex-direction:column;
    background-color: rgba(169, 169, 169, 0.568);
    width: fit-content;
    align-self: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 90vw;
    padding-top: 1em;
    padding-bottom: 2em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
#dimension-checkbox-label {
    font-size: 1.5vw;
    display: flex;
    justify-self: center;
}
#dimension-checkbox {
    width: 2vw;
    height: 2vw;
    position: relative;
    bottom: 0.4em;
    margin-right: 0.5vw;
}
#print-button {
    background-color: #6acc6f85;
    border-radius: 20px;
    font-size: 2em;
    width: fit-content;
    align-self:flex-end;
    margin-right: 0.5em;
    position: absolute;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 3vw;
    padding: 0.2em;
}
#stage-dimensions-info {
    font-weight: 600;
    margin-bottom: 0.5em;
    font-size: 1.5vw;
}
#three-leg-info {
    font-size: 1.5vw;
}
#four-leg-info {
    font-size: 1.5vw;
}
#stage-outer-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: auto auto auto;
    width: 100%;
    max-width: 90vw;
    align-items: stretch;
    justify-content: center;
}
#stage-output-grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 70vw;
    height: fit-content;
    margin: 0 auto;
    gap: 0;
}
.stage-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}
.diagram-image {
    width: 98%;
    height: 90%;
    object-fit: contain;
    max-width: 300px;
}
#stage-dim-vertical {
    grid-column: 1;
    grid-row: 1;
    font-size: 2vw;
    align-self: center;
}
#stage-dim-horizontal {
    grid-column: 3;
    grid-row: 3;
    font-size: 2vw;
    align-self: center;
}
#vertical-arrow {
    grid-column: 2;
    grid-row: 1;
    max-height: 96%;
    width: 4vw;
    object-fit: fill;
    align-self: center;
    padding-top: 3vw;
}
#horizontal-arrow {
    grid-column: 3;
    grid-row: 2;
    width: 86%;
    height: 4vw;
    justify-self: center;
    object-fit: fill;
    margin-top: 4vw;
}
.controls-button {
    background-color: #6acc6f85;
    border-radius: 20px;
    width: fit-content;
    align-self:flex-end;
    margin-right: 0.5em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 2vw;
    justify-self: center;
}
.stage-row {
    display: flex;
    width: fit-content;
    margin-bottom: 2px;
    align-items: flex-start; /* makes sure row height matches shortest image */
}
#stage-output-grid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 70vw;
    margin: 0 auto;
    gap: 0;
    justify-self: center;
    margin-top: 3vw;
}

.stage-row {
    display: flex;
    width: fit-content;
    margin-bottom: 2px;
    align-items: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-self: center;
}

.stage-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.diagram-image {
    width: 100%;
    height: 100%;
}
#diagram-div {
    display: none;
}
#diagram-controls {
    background-color: rgba(169, 169, 169, 0.568);
    border-radius: 20px;
    padding: 1em;
    margin-top: 1em;
    width: 30vw;
}
@media print {
  body * {
    visibility: hidden;
  }
  #diagram-div, #diagram-div * {
    visibility: visible;
  }
  #diagram-div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: none;
    margin-top: 5%;
  }
  #diagram-controls {
    display: none;
  }
  #print-button {
    visibility: hidden;
  }
  #leg-info {
    margin-bottom: 2em;
  }
  .section-title {
    display: none;
  }
  #leg-info{
    display: none;
  }
}